= render 'share/questions_tab', questions: @questions, page_name: "page"
-# %ul.tab.row
-#   %li#unanswered-questions-tab.select.col-6
-#     = "未回答の相談"
-#   %li#answered-questions-tab.col-6
-#     = "回答済み"
-#
-# %ul#questions.tab-contents
-#   %li#unanswered-questions.tab-contents-item
-#     = render 'share/questions_tab', questions: @questions, page_name: "page_1"
-#   %li#answered-questions.tab-contents-item.hide
-#     = render 'share/questions_tab', questions: @questions_answered, page_name: "page_2"

:ruby
  @page_title = "メンサル:質問一覧"
  @seo_contents ="メンサル質問一覧ページです。おすすめの本を知りたい時は「質問ページ」から投稿することでこのページに表示されます。各質問と回答を見るにはクリックしてください。"
  @seo_keywords = "メンサル, 質問一覧"
