%div.col-1.col-lg-2
%div.col-11.col-lg-10
  =form_with(url: likes_destroy_path) do |f|
    =f.hidden_field 'answer_id', :value => answer.id
    =f.hidden_field 'user_id', :value => current_user.id
    =button_tag :type => "submit", :class =>"col-4 like-submit", :id => "answer-like-#{answer.id}-submit"  do
      %i.fa.fa-heart.like=answer.like_count
    -# =f.submit answer.like_count , class: 'col-4 like-submit' #, type: :submit
