.white-back.max-height
  %h1 お問い合わせ完了
  %p お問い合わせありがとうございます！
  %p 内容を確認後、早急にご返信させていただきます。もし数日中に返事が無い場合は、正しく受信できなかった可能性がありますので、恐れ入りますが再度のご連絡をお願いします。

  %p いただいた情報をもとに「メンサル」を改善していきますので、今後ともよろしくお願いします！

  =link_to "トップへ戻る", root_path, class: "link-to-top"
