%p #{@resource.name} さん

%p パスワードが変更されました。

%p ログインされる場合は下記のURLからご確認ください。
%p https://bookrep.tokyo

%div
  ━━━━━━━━━━━━━━━━━━━━
%div
  ◯ご不明な点やお問い合せ
%div
  Email: bookrep.contact@gmail.com
%div
  ━━━━━━━━━━━━━━━━━━━━
