%p
  こんにちは #{@resource.name} さん


%p
  メンサルのご利用、いつもありがとうございます。

%p
  パスワードを再設定するには、パスワード変更のページにアクセスしていただく必要があります。

%p
  ページの案内に従って、パスワードを再設定してください。
-# %p Someone has requested a link to change your password. You can do this through the link below.
%p= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)
-# %p If you didn't request this, please ignore this email.
-# %p Your password won't change until you access the link above and create a new one.

%div
  ご注意：
%div
  セキュリティ保護のため、このメールの送信後24時間経過すると、上記リンクは無効になりますので、ご注意ください。

%p

%div
  ━━━━━━━━━━━━━━━━━━━━
%div
  ◯ご不明な点やお問い合せ
%div
  Email: bookrep.contact@gmail.com
%div
  ━━━━━━━━━━━━━━━━━━━━
